@import 'global';

body {
  @extend html; // height: 100%;

  // this is so that the background image reaches all sides of the view
  margin: 0;

  /*
  scroll-snap-type: mandatory;

  > * {
    scroll-snap-coordinate: 0 0;
  }
  */

  background-color: $base-color;

  > *:nth-child(even) {
    background-color: $secondary-color;
  }

  > div {
    @include full-flex;
    padding: 0 5%;
  }
}

.flex-list {
  .flex-list__container {
    width: 65%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .flex-list__item {
      display: inherit;
      flex-direction: column;
    }
  }
}

.section-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  font-weight: 300;

  margin-top: 0;
  margin-bottom: 0;
}

header {
  @include full-flex;
  background-image: url('/images/background.svg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  .title {
    background-color: #FFF;

    padding: 0.5%;
    // padding-top: 0;

    h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 5em;
      font-weight: 100;

      margin: 0;
      white-space: nowrap;
    }

    .social-icons {
      display: flex;
      justify-content: space-around;
      align-items: center;

      // evil negative margin hack
      margin-top: -2.5%;
      margin-bottom: 2.5%;

      .cc {
        font-size: 3em;
        line-height: 100%;
      }

      a {
        color: inherit;
      }
    }
  }
}

.about {
  .section-heading {
    font-size: 4.25em;
  }

  p {
    margin-top: 0;
    font-size: 1.5em;
  }
}

.skill {
  i {
    font-size: 8em;
  }
}

.project {
  h2 {
    font-weight: normal;
    font-size: 1.75em;

    margin: 0;
    margin-bottom: 1.5%;
  }

  img {
    width: 50%;
  }
}

footer {
  margin: 1%;
}
