#bg
  #flex
    #title
      %h1 Nick Clifford
      %p Back-end developer, webmaster, sysadmin.

#projects
  %h2 Projects
  #projects-list
    - projects.each do |project|
      .proj
        %h2= project['name']
        %a{href: project['link']}
          %img{src: project['image']}
        %p= project['desc']