#header
  #flex
    #title
      %h1 Nick Clifford
      #social-icons
        - icons.each do |icon, link|
          %a{href: link}
            %i{class: 'fa fa-3x fa-' + icon}

#about
  %h2.section-header Hello!
  %p |
    I'm Nick Clifford, and I'm a back-end web developer, sysadmin, and webmaster.

#projects
  %h2.section-header Projects
  #projects-list
    - projects.each do |project|
      .project
        %h2= project['name']
        %a{href: project['link']}
          %img{src: project['image']}
        %p= project['desc']

#footer
  %hr
  %p Copyright &copy; 2017 Nick Clifford.