%header
  #title
    %h1 Nick Clifford
    #social-icons
      - icons.each do |icon, link|
        %a{href: link}
          %i{class: "fa fa-3x fa-#{icon}"}

#about
  %h2.section-header Hello!
  %p |
    I'm Nick Clifford, and I'm a back-end web developer, sysadmin, and webmaster.

#lorem
  %h2.section-header Space Filler
  %p |
    Lorem ipsum Duis esse laborum cupidatat incididunt anim irure aute commodo in laboris elit occaecat ut aute in veniam ullamco pariatur voluptate ullamco mollit in commodo adipisicing non reprehenderit esse amet non ad dolor velit labore do in cillum sunt nostrud eu tempor do cillum aliqua eu cillum voluptate esse ex tempor exercitation consectetur nisi velit ut nostrud Ut sed est do Excepteur Duis nostrud eu Duis consequat minim qui in laborum sunt in dolor sint dolor cupidatat id sed fugiat adipisicing amet fugiat Excepteur enim consequat et cupidatat Duis Excepteur mollit cillum pariatur id Ut enim laboris occaecat id eu exercitation nisi amet ex aute incididunt velit ad aute dolore cillum velit velit exercitation aliquip non laboris exercitation fugiat voluptate mollit eu ad nostrud tempor in laboris minim enim ut ad aliqua ut minim aliquip veniam culpa aliqua id qui cupidatat dolor eu non Ut in elit incididunt Excepteur in commodo in sunt magna magna sit Duis in commodo laboris ut magna tempor reprehenderit occaecat occaecat adipisicing eiusmod sit sunt esse consequat sit qui aliqua occaecat id irure dolore laboris id proident sunt nisi est.

#projects
  %h2.section-header Projects
  #projects-list
    - projects.each do |project|
      .project
        %h2= project['name']
        %a{href: project['link']}
          %img{src: project['image']}
        %p= project['desc']

%footer
  %hr
  %p Copyright &copy; 2017 Nick Clifford.
