%html
  %head
    %title Nick Clifford | #{title}
    %link{rel: "stylesheet", type:"text/css", href: "/stylesheets/main.css"}
    %link{rel: "stylesheet", type:"text/css", href: "/stylesheets/#{css}.css"}
  %body= yield