@import 'global';

body {
  // this is so that the background image reaches all sides of the view
  margin: 0;

  text-align: center;

  .section-header {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
    font-weight: 300;

    margin-bottom: 0;
  }

  #header {
    background-image: url(http://kingofwallpapers.com/blue-and-black-backgrounds/blue-and-black-backgrounds-003.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;

    #flex {
      display: flex;
      height: inherit;
      align-items: center;
      justify-content: space-around;

      #title {
        background-color: #FFF;

        h1 {
          font-family: 'Roboto', sans-serif;
          font-size: 4em;
          font-weight: 100;

          margin: 1vh;
          margin-bottom: 0;
        }

        #social-icons {
          display: flex;
          justify-content: space-around;

          margin-bottom: 1vh;
        }
      }
    }
  }

  #about {
    .section-header {
      margin-top: 2vh;
    }
  }

  #projects {
    #projects-list {
      display: flex;
      justify-content: space-around;

      .project {
        h2 {
          font-weight: normal;
          font-size: 1.75em;

          margin-bottom: 1.5vh;
        }

        img {
          height: 300px;
          width: 450px;
        }

        p {
          width: 450px;
        }
      }
    }
  }
}