@import 'global';

@mixin full-flex {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

* {
  text-align: center;
}

// this is because the HTML5 declaration requires all ancestor elements
// to have height: 100%; in order for other elements to have it
html {
  height: 100%;
}

body {
  @extend html;

  // this is so that the background image reaches all sides of the view
  margin: 0;

  /* scroll-snap-type: mandatory; */

  > div {
    @include full-flex;
    padding: 2% 5%;
  }
}

.flex-list {
  height: min-content;

  > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    > div {
      margin: 0.5%;
    }
  }
}

.section-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  font-weight: 300;

  margin-top: 0;
  margin-bottom: 0;
}

header {
  @include full-flex;
  background-image: url(http://kingofwallpapers.com/blue-and-black-backgrounds/blue-and-black-backgrounds-003.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  #title {
    background-color: #FFF;

    h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 5em;
      font-weight: 100;

      margin: 0;
      padding: 1%;
      padding-bottom: 0;

      white-space: nowrap;
    }

    #social-icons {
      display: flex;
      justify-content: space-around;

      margin-bottom: 1%;
    }
  }
}

#about {
  .section-heading {
    font-size: 4.25em;
  }

  p {
    margin-top: 0;
    font-size: 1.25em;
  }
}

.skill {
  img {
    height: 200px;
    width: 200px;
  }
}

.project {
  h2 {
    font-weight: normal;
    font-size: 1.75em;

    margin: 0;
    margin-bottom: 1.5%;
  }

  img {
    height: 300px;
    width: 450px;
  }

  p {
    width: 450px;
  }
}
