@import 'global';

body {
  // this is so that the background image reaches all sides of the view
  margin: 0;

  text-align: center;

  // scroll-snap-type: mandatory;

  .section-header {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
    font-weight: 300;

    margin-top: 0;
    margin-bottom: 0;
  }

  // creates a full-size flexbox with centered content 
  > header,
  > div {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
  }

  header {
    background-image: url(http://kingofwallpapers.com/blue-and-black-backgrounds/blue-and-black-backgrounds-003.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    #title {
      background-color: #FFF;

      h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 5em;
        font-weight: 100;

        margin: 1vh;
        margin-bottom: 0;
      }

      #social-icons {
        display: flex;
        justify-content: space-around;

        margin-bottom: 1vh;
      }
    }
  }

  // preferably, this block would not exist and the `padding` would go to the `> div` section up near the header
  // however, i would have to use `@extend > header` to keep it DRY, and you can't extend nested selectors
  // so this has to be explicitly declared in another block
  > div {
    padding: 2vh 5vw;
  }

  #about {
    .section-header {
      font-size: 4.25em;
    }

    p {
      margin-top: 0;
      font-size: 1.25em;
    }
  }

  #projects {
    flex-flow: row wrap;
    height: min-content;

    #projects-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;

      .project {
        margin: 0.5vh 0.5vw;

        h2 {
          font-weight: normal;
          font-size: 1.75em;

          margin: 0;
          margin-bottom: 1.5vh;
        }

        img {
          height: 300px;
          width: 450px;
        }

        p {
          width: 450px;
        }
      }
    }
  }
}
